@import "tailwindcss";

@layer base {
  :root {
    color: #fafafa;
    background-color: #171717;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}